<html lang="en">
<head>
    <title>Basic Chess</title>
<!--    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=.7">
    <link rel="stylesheet" href="main.css" />
</head>

<body>

<div id="app" data-app>

    <h2>Basic But Not So Basic Chess</h2>
    <v-container>

      <div id="alerts-outer">
        <v-alert v-for="(alert, i) in alerts"
                 dismissible elevation="7"
                 :type="alert.type"
                 :key="alert.text"
                 @input="$delete(alerts, i)" >
          {{ alert.text }}
        </v-alert>
      </div>

      <div class="play-area-inner">
          <div v-for="(row,i) in positions[whiteOnTop]"
               :key="i">
              <span v-for="(position,j) in row"
                    :key="j"
                    :class="{cell: true, dark: !!((i + j) % 2), light: !((i + j) % 2), target: targets.indexOf(position) > -1}"
                    @click="dragOrDrop($event, position)"
                    @drop="drop($event, position)"
                    @dragover="allowDrop($event)">

                <img v-if="board.hasOwnProperty(position)"
                     :src="pieceBox[outlandishPieces][board[position]]"
                     :class="{provisional: provisional === position}"
                     :draggable="!dragStart"
                     @click.stop="dragOrDrop($event, position)"
                     @dragstart="drag(position)">

                  <span v-else class="img-placeholder"></span>
              </span>
          </div>
      </div>

      <!-- I spent 2 days figuring out why the switches weren't trippin' and it was because .v-application--is-ltr is missing somewhere above -->
      <v-row id="bottom-switches" class="v-application--is-ltr">
        <v-col cols="12" md="6">
          Black on top
          <v-switch v-model="whiteOnTop" dark></v-switch>
          White on top
        </v-col>

        <v-col cols="12" md="6">
          Normal pieces
          <v-switch v-model="outlandishPieces" dark></v-switch>
          Outlandish pieces
        </v-col>
      </v-row>

      <div id="bottom-buttons">
        <div v-if="!stompClient">
          <v-btn elevation="7" x-large dark
                 @click="connect()">
            Lost connection? Reconnect
          </v-btn>
        </div>

        <div v-else>
          <v-btn elevation="7" x-large dark
                 :disabled="!!restCallsGoing"
                 @click="save()">
            Save
          </v-btn>

          <v-btn id="source-button" elevation="7" x-large dark
                 style="display:none" >
            Load
          </v-btn>
          <!-- I don't know how to customise the button of v-file-input so I'll copy the classes and content from the above hidden button -->
          <span id="target-button-span">
            <v-file-input label="Select file to load game from"
                          hide-input
                          v-model="selectedFile" @change="load" />
          </span>

          <v-menu top offset-y close-on-click close-on-content-click
                  transition="slide-y-transition" >
            <template v-slot:activator="{ on, attrs }">
              <v-btn elevation="7" x-large dark
                     :disabled="!!restCallsGoing"
                     v-bind="attrs"
                     v-on="on" >
                  New Game
              </v-btn>
            </template>
            <v-list dark>
              <v-list-item
                      v-for="option in newGameOptions"
                      :key="option"
                      @click="newGame(option)" >
                <v-list-item-title>{{ option }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </div>

    </v-container>

    <v-dialog v-for="(active, color) in promotionRequired"
              v-model="promotionRequired[color]"
              :key="color"
              style="width:auto"
              persistent dark >
      <v-card>
        <v-card-title class="headline">
            Choose piece to promote to:
        </v-card-title>
        <v-card-actions>
          <v-btn elevation="7" height="auto"
                 v-for="piece in promotablePieces"
                 @click="promote(color, piece)"
                 :key="piece"
                 :disabled="!!restCallsGoing" >
            <span class="cell">
              <img :src="pieceBox[outlandishPieces][color + piece]">
            </span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Hidden frame to help downloading the savegame -->
    <iframe style="display:none"
            v-if="!!frameSrc"
            :src="frameSrc"></iframe>

<!--    <v-dialog v-model="loadDialogOn" dark-->
<!--              style="min-width: 300px" >-->
<!--&lt;!&ndash;        <v-card>&ndash;&gt;-->
<!--&lt;!&ndash;            <v-card-title class="headline">&ndash;&gt;-->
<!--&lt;!&ndash;                Choose piece to promote to:&ndash;&gt;-->
<!--&lt;!&ndash;            </v-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;            <v-card-actions>&ndash;&gt;-->
<!--                <v-file-input label="Select file to load game from"-->
<!--                              hide-input-->
<!--                              v-model="selectedFile" @change="load">-->

<!--                </v-file-input>-->
<!--&lt;!&ndash;            </v-card-actions>&ndash;&gt;-->
<!--&lt;!&ndash;        </v-card>&ndash;&gt;-->
<!--    </v-dialog>-->

</div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0-0/axios.min.js"></script>
<script src="game.js"></script>

</body>
</html>
