<!--suppress HtmlUnknownTag, HtmlUnknownAttribute -->
<html lang="en">
<head>
    <title>Basic Chess</title>
<!--    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width,initial-scale=.7">
    <link rel="stylesheet" href="main.css" />
</head>

<body>

<div id="app" data-app>
    <h2>Basic But Not So Basic Chess</h2>

    <v-container fluid>
      <div id="alerts-outer">
        <v-alert v-for="(alert, i) in alerts"
                 dismissible elevation="7"
                 :type="alert.type"
                 :key="alert.text"
                 @input="$delete(alerts, i)" >
          {{ alert.text }}
        </v-alert>
      </div>

      <v-row>
        <v-col cols="12" md="9">

          <div class="play-area-inner">
            <span class="cell-boundary-horizontal"
                  v-for="letter in horizontalMarkers[whiteOnTop]">
                {{ letter }}
            </span>

            <div v-for="(row,i) in verticalMarkers[whiteOnTop]"
                 :key="i">
                <span class="cell-boundary-vertical">
                    {{ row }}
                </span>

              <!-- TODO While this is more logical, we'd highly prefer a component or more so we don't do col + row a dozen times -->
              <span v-for="(col,j) in horizontalMarkers[whiteOnTop]"
                    :key="j"
                    :class="{cell: true, dark: !!((i + j) % 2), light: !((i + j) % 2), target: targets.indexOf(col + row) > -1}"
                    @click="dragOrDrop($event, col + row)"
                    @drop="drop($event, col + row)"
                    @dragover="allowDrop($event)">

                <img v-if="board.hasOwnProperty(col + row)"
                     :src="pieceBox[outlandishPieces][board[col + row]]"
                     :class="{provisional: provisional === col + row}"
                     :draggable="!dragStart"
                     @click.stop="dragOrDrop($event, col + row)"
                     @dragstart="drag(col + row)">

                  <span v-else class="img-placeholder"></span>
              </span>

              <span class="cell-boundary-vertical">
                  {{ row }}
              </span>

            </div>
            <span class="cell-boundary-horizontal"
                  v-for="letter in horizontalMarkers[whiteOnTop]">
                {{ letter }}
            </span>
          </div>

        </v-col>
        <v-col cols="12" md="3">

          <span v-for="(piece,i) in capturedPieces"
                :key="i"
                class="cell">
            <img :src="pieceBox[outlandishPieces][piece]">
          </span>

        </v-col>
      </v-row>

      <!-- I spent 2 days figuring out why the switches weren't trippin' and it was because .v-application--is-ltr is missing somewhere above -->
      <v-row id="bottom-switches" class="v-application--is-ltr">
        <v-col cols="12" md="6">
          Black on top
          <v-switch v-model="whiteOnTop" dark></v-switch>
          White on top
        </v-col>

        <v-col cols="12" md="6">
          Normal pieces
          <v-switch v-model="outlandishPieces" dark></v-switch>
          Outlandish pieces
        </v-col>
      </v-row>

      <div id="bottom-buttons">
        <div v-if="!stompClient">
          <v-btn elevation="7" x-large dark
                 @click="connect()">
            Lost connection? Reconnect
          </v-btn>
        </div>

        <div v-else>
          <v-btn elevation="7" x-large dark
                 :disabled="!!restCallsGoing"
                 @click="save()">
            Save
          </v-btn>

          <v-btn elevation="7" x-large dark
                 :disabled="!!restCallsGoing"
                 @click="triggerLoad()">
            Load
          </v-btn>

          <v-menu top offset-y close-on-click close-on-content-click
                  transition="slide-y-transition">
            <template v-slot:activator="{ on, attrs }">
              <v-btn elevation="7" x-large dark
                     :disabled="!!restCallsGoing"
                     v-bind="attrs"
                     v-on="on">
                New Game
              </v-btn>
            </template>
            <v-list dark>
              <v-list-item
                  v-for="option in newGameOptions"
                  :key="option"
                  @click="newGame(option)">
                <v-list-item-title>{{ option }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </div>
    </v-container>

    <v-dialog v-for="(active, color) in promotionRequired"
              v-model="promotionRequired[color]"
              :key="color"
              style="width:auto"
              persistent dark>
      <v-card>
        <v-card-title class="headline">
          Choose piece to promote to:
        </v-card-title>
        <v-card-actions>
          <v-btn elevation="7" height="auto"
                 v-for="piece in promotablePieces"
                 @click="promote(color, piece)"
                 :key="piece"
                 :disabled="!!restCallsGoing">
            <span class="cell">
              <img :src="pieceBox[outlandishPieces][color + piece]">
            </span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- Hidden frame to help download the savegame when saving -->
    <iframe style="display:none"
            v-if="!!frameSrc"
            :src="frameSrc"></iframe>

    <!-- Hidden file selector to help upload the savegame when loading -->
    <input type="file" style="display:none"
           ref="chessLoadFileInput"
           @change="load"/>
</div>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="stomp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0-0/axios.min.js"></script>
<script src="game.js"></script>

</body>
</html>
